* {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navsection{
  display: flex;
  justify-content: space-around;
  height: 50px;
  color: black;
  background-color: bisque;
  font-size: 15px;

}
.navsection .users{
  display: flex;
  gap: 10px;
}
.mobilesection{
  display: flex;
  flex-direction: row;
}
.submenu ul{
  display: flex;
  justify-content: space-around;
}
.submenu{
  height: 30px;
  color: white;
  background-color: blueviolet;
}

.mobilesection1{
  display: grid;
  grid-template-columns: repeat(4,330px);
}
.submenu > ul > a.active{
  color: red;
}
.productSection{
  display: flex;
  justify-content: space-around;
}